<h1>Все карточки</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>слово</th>
      <th>перевод</th>
      <th>дата пересмотра</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Показать', card_path(card) %></td>
        <td><%= link_to 'Редактировать ', edit_card_path(card) %></td>
        <td><%= link_to 'Удалить', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>